
.overlay-botton {
	position: absolute;
	height: 17px;
	background-color: whitesmoke;
	padding: 3px;
	text-align: center;
	border-radius: 5px;
	cursor: default;
}

#overlay-bg {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.4;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

#overlay-canvas {
	position: absolute;
	top: 0;
	left: 0;
	background-color: transparent;
	opacity: 0.4;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

#overlay-hl {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	background-color: white;
	opacity: 0.4;
	display: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}

#cursor-info {
	margin: auto;
	text-align: center;
	position: relative;
	top: 0;
	left: 0;
	height: 20px;
	width: 100px;
	background-color: transparent;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-o-user-select: none;
}
